@media (max-width: 600px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .navbar {
    padding: 0 5vw;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    font-size: 6vw;
  }

  .navbar ul {
    font-size: 4vw;
    display: none;
  }

  .login-signup {
    display: none;
  }

  .navbar .mobile-menu {
    display: block;
    padding: 0 5vw;
  }

  .top .content {
    display: flex;
    flex-direction: column;
    /* padding: 2vw; */

    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
    width: 80vw;
    position: relative;
    left: 10%;
    top: 20%;
  }

  .top .content p #content-heading {
    font-size: 2vw;
    align-self: center;
  }

  #text1 {
    font-size: 3.7vw;
  }

  .top .content .button {
    display: flex;
    /* font-weight: 800; */
  }

  .top .content .h-button .button1 {
    display: flex;
    /* border: 2px solid black; */
    width: 27vw;
    height: 5vh;
    font-weight: 800;
    font-size: 3.5vw;
  }
  .top .content .h-button .button2 {
    display: flex;
    /* border: 2px solid black; */
    width: 27vw;
    height: 5vh;
    font-weight: 800;
    font-size: 4vw;
  }

  /* main  */

  .design {
    display: flex;
    height: auto;
    width: 100%;
    /* border: 4px solid blue; */
    padding: 0%;
  }

  .design #title {
    display: flex;
    font-size: 6vw;
    /* border: 2px solid black; */
    position: relative;
    top: 0%;
    margin-top: 2vh;
  }

  .design .content1 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
    position: relative;
    top: 30%;
    width: 100vw;
    height: auto;
    /* margin-bottom: 10vh; */
  }

  .design .content1 .text {
    display: flex;
    /* flex-wrap: wrap; */
    /* border: 3px solid red; */
    width: 70vw;
    justify-content: center;
    align-items: center;
    padding-bottom: 2vh;
  }

  .design .content1 .text .text1 {
    display: flex;
    /* border: 2px solid blue; */
    width: 80vw;
    justify-content: center;
    align-items: center;
  }

  .design .content1 .text .text1 #mt1 {
    display: flex;
    font-size: 5vw;
    width: 50%;
    font-family: 2vw;
    justify-self: center;
    align-self: center;
    text-align: center;
  }
  .design .content1 .text .text1 #md1 {
    display: flex;
    font-size: 3vw;
    width: 90%;
    font-family: 2vw;
    justify-self: center;
    align-self: center;
    text-align: center;
  }

  .design .content1 .text .text2 {
    display: flex;
    /* border: 2px solid blue; */
    width: 75vw;
    justify-content: center;
    align-items: center;
  }
  .design .content1 .text .text2 #mt2 {
    display: flex;
    font-size: 5vw;
    width: 50%;
    /* font-family: 2vw; */
    justify-self: center;
    align-self: center;
    text-align: center;
  }
  .design .content1 .text .text2 #md2 {
    display: flex;
    font-size: 3vw;
    width: 90%;
    font-family: 2vw;
    justify-self: center;
    align-self: center;
    text-align: center;
  }

  .design .content1 .image {
    display: flex;
    /* border: 3px solid blue; */
    max-width: 100%;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: auto;
    position: relative;
    top: 0%;
    left: 0%;
  }

  .design .content1 .image img {
    display: flex;
    width: 60vw;
    height: auto;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 0;
  }

  /* Design 2  */

  .design2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    height: auto;
    padding-bottom: 8vh;
    overflow: none;
    gap: 10px;
  }

  .design2 .mobile-image {
    display: flex;
    /* border: 3px solid red; */
    width: 100%;
    height: auto;
    position: relative;
    top: 0%;
    left: 0%;
    justify-content: center;
    align-items: center;
    /* margin-bottom:px; */
  }

  .design2 .mobile-image .circle {
    display: flex;
    width: 60vw;
    height: 350px;
    position: relative;
    top: 20%;
    left: 0%;
    margin-bottom: 5px;
  }

  .design2 .mobile-image .mobile {
    display: flex;
    width: 70vw;
    height: auto;
    position: relative;
    top: -350px;
    left: 0%;
  }

  .design2 .design2-text {
    /* margin-top: 4vh; */
    display: flex;
    width: 80%;
    height: auto;
    justify-content: center;
    align-self: center;
    /* border: 3px solid rgb(180, 167, 25); */
    /* position: relative; */
    top: 0%;
    left: 0%;
  }

  .design2 .design2-text h2 {
    display: flex;
    font-size: 5.5vw;
    width: 60%;
    justify-content: space-around;
    align-self: center;
    font-weight: 400;
    text-align: center;
  }

  .design2 .design2-text p {
    display: flex;
    font-size: 2.8vw;
    width: 90%;
    justify-content: space-around;
    align-self: center;
    font-weight: 200;
    text-align: center;
    word-spacing: 2px;
  }

  /* Design3  */

  .design3 {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: auto;
    padding: 10px;
    /* border: 3px solid red; */
  }

  .design3 .design3-image {
    display: flex;
    /* border: 2px solid cyan; */
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0%;
    left: 0%;
  }

  .design3 .design3-image img {
    display: flex;
    width: 90vw;
    height: auto;
    justify-self: center;
    position: relative;
    top: 0%;
    left: 0%;
  }

  .design3 .design3-text {
    display: flex;
    position: relative;
    /* margin-top: 10px; */
    padding: 4vw;
    width: 100%;
    position: relative;
    top: 0%;
    left: 0%;
    gap: 2vh;
    /* border: 2px solid darkblue; */
  }

  .design3 .design3-text .design3-text1 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid yellow; */
    padding: 2vw;
  }
  .design3 .design3-text .design3-text1 h2 {
    display: flex;
    justify-self: center;
    font-size: 5vw;
    text-align: center;
  }
  .design3 .design3-text .design3-text1 p {
    display: flex;
    justify-content: center;
    font-size: 3vw;
    text-align: center;
    /* padding: 3vw; */
  }

  .design3 .design3-text .design3-text2 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid yellow; */
    padding: 2vw;
  }
  .design3 .design3-text .design3-text2 h2 {
    display: flex;
    justify-self: center;
    font-size: 5vw;
    text-align: center;
  }
  .design3 .design3-text .design3-text2 p {
    display: flex;
    justify-content: center;
    font-size: 3vw;
    text-align: center;
  }

  /* Footer/ */

  .footer {
    padding-bottom: 0;
  }
  .footer-col {
    /* border: 3px solid yellow; */
    width: 100%;
    margin-bottom: 4vh;
    /* padding-left: 30vw; */
    text-align: center;
    /* padding-bottom: 0.5vh; */
  }

  .footer-col h1 {
    font-size: 10vw;
  }

  .footer-col h4 {
    margin-bottom: 15px;
  }

  .footer-col h4::before {
    display: none;
  }
}
