@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* max-width: 1440px; */
}
body{
    font-family: Overpass;
}
.top{
    background-color: hsl(356, 100%, 66%);
    border:1px none white;
    border-bottom-left-radius: 80px;
    width: 100%;
    height: 600px;
    background-image: url(./images/bg-pattern-intro-desktop.svg);
    background-position-y: 50%;
    background-position-x: 20%;
    background-size: cover;
    background-size: 220%;
    /* background-color: blue; */
    position: relative;
}


.navbar{
    /* background-color: brown; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    /* width: 100%; */
    padding: 0 5%;

}

.navbar .mobile-menu{
    display: none;
}

.menu{
    display: flex;
    justify-content: space-around;
}

.logo{
    color: white;
}


.navbar ul{
    list-style: none;
    display: flex;
}

.navbar ul li{
    padding: 10px 30px;
    position: relative;
}

.navbar ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.navbar ul li a:hover{
    color: rgb(22, 22, 65);
}

.product-dropdown{
    display: none;
}

.navbar ul li:hover .product-dropdown{
    display: block;
    position: absolute;
    left: 20%;
    top: 100%;
    background-color: rgb(240, 95, 95);
    transition-duration: 0.3s;
}

.product-dropdown ul{
    display: block;
    text-align: center;
    /* margin: 10px; */
}

.product-dropdown ul li{
    padding: 10px;
}

.company-dropdown{
    display: none;
}

.navbar ul li:hover .company-dropdown{
    display: block;
    position: absolute;
    left: 35%;
    top: 100%;
    background-color: rgb(240, 95, 95);
}

.company-dropdown ul{
    display: block;
    text-align: center;
    /* margin: 10px; */
}

.company-dropdown ul li{
    padding: 10px;
}

.connect-dropdown{
    display: none;
}

.navbar ul li:hover .connect-dropdown{
    display: block;
    position: absolute;
    left: 35%;
    top: 100%;
    background-color: rgb(240, 95, 95);
}

.connect-dropdown ul{
    display: block;
    text-align: center;
    /* margin: 10px; */
}

.connect-dropdown ul li{
    padding: 10px;
}

.login-signup{
    display: flex;
    justify-content: space-around;
    /* margin: 20px; */
    /* border: 2px solid black; */
    width: 15%;
    gap: 10px;
}

.login-signup .login{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 1px solid white;
    width: 100px;
    height: 35px;
    border-radius: 20px;
    color: white;
    font-size: 20px;
    background-color: transparent;
}
.login-signup .login:hover{
    color: rgb(233, 125, 62);
    background-color: white;

}
.login-signup .signup{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 1px solid white;
    width: 100px;
    height: 35px;
    border-radius: 20px;
    color: white;
    font-size: 20px;
    background-color: transparent;
}
.login-signup .signup:hover{
    color: rgb(233, 125, 62);
    background-color: white;

}

.content{
    display: flex;
    flex-direction: column;
    width: 800px;
    /* border: 2px solid black; */
    justify-content: center;
    align-items: center;
    /* position: absolute; */
    position: relative;
    top: 180px;
    left: 350px;
}


.content #content-heading{
    font-family: overpass;
    font-size: 40px;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;


}

#text1{
    /* border: 2px solid black; */
    /* width: 400px; */
    font-family: overpass;
    text-align: center;
    /* align-items: center; */
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 1.5vh;
}

.content .h-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}

.content .h-button .button1{
    display: flex;
    width: 110px;
    height: 30px;
    background-color: white;
    border: 1px solid white;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: rgb(233, 125, 62);
    font-size: 15px;
    font-weight: bold;
}

.content .h-button .button1:hover{
    color: red;
    background-color: white;
}
.content .h-button .button2{
    display: flex;
    width: 110px;
    height: 30px;
    /* background-color: white; */
    border: 1px solid white;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 15px;
    /* font-weight: bold; */
}

.content .h-button .button2:hover{
    color: rgb(233, 125, 62);
    background-color: white;
}

/* main content */

.design{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* border: 2px none black; */
    height: 700px;
    
}

.design #title{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    color: hsl(208, 49%, 24%);
    /* border: 2px solid red; */
    position: relative;
    top: 50px;
    font-size: 40px;

}

.design .content1{
    display: flex;
    flex-direction: row;
    /* border: 2px solid blue; */
    justify-content: space-around;
    width: 100%;
    position: relative;
    left: 0px;
    top: 150px;
    /* height: 600px; */
}

.design .content1 .text{
    display: flex;
    flex-direction: column;
    width: 50%;
    /* border: 2px solid cyan; */
    position: relative;
    /* left: 80px; */
    align-items: center;
    font-family: overpass;
    /* padding: 10px; */
}

.design .content1 .text .text1{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-top: 20px;
    gap: 20px;
    color: hsl(208, 49%, 24%);
    font-family: overpass;
}

.text1 #mt1{
    font-size: 25px;
}

.text1 #md1{
    text-align: unset;
    font-size: 14px;
    word-spacing: 5px;
}

.design .content1 .text .text2{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 20px;
    width: 500px;
}

.text2 #mt2{
    font-size: 25px;
    color: hsl(208, 49%, 24%);
    /* word-spacing:; */

}


.text2 #md2{
    text-align: unset;
    color: hsl(208, 49%, 24%);
    word-spacing: 5px;
    font-size: 14px;

}


.design .content1 .image{ 
    display: flex;
    max-width: 50%;
    height: 600px;
    /* border: 2px solid black; */
    /* background-color: rgb(70, 119, 119); */
    position: relative;
    left: 30px;
    top: -150px;
    overflow: hidden;
    
}

.design .image img{
    width: 600px;
    height: 550px;
    position: relative;
    left: 200px;
    top: 10px;
    /* object-fit: cover; */
    /* object-position: bottom left; */
}

.design3 .design3-image{
    display: flex;
    width: 700px;
    height: 700px;
    margin-top: 20px;

}
.design3 .design3-image img{
    display: flex;
    width: 700px;
    height: 500px;
    position: relative;
    left: -275px;
    top: 40px;
}

/* Design 2  */

.design2{
    display: flex;
    flex-direction: row;
    height: 420px;
    border: 2px none red;
    border-top-right-radius: 80px;
    border-bottom-left-radius: 80px;
    justify-content: space-around;
    background-color: hsl(237, 17%, 21%);
    overflow: hidden;
}

.design2 .mobile-image{
    display: flex;
    flex-direction: column;
    /* border: 2px solid cyan; */
    position: relative;
    left: 0px;
    width: 450px;
    top: -60px;
}

.design2 .mobile-image .circle{
    /* border: 2px solid black; */
    position: relative;
    top: -550px;
    left: -400px;
    width: 1200px;
    /* clip-path: circle(600px at center); */
}

.design2 .mobile-image .circle img{
    /* border: 2px solid red; */
    overflow: hidden;
    object-fit: contain;
    
}


.design2 .mobile-image .mobile{
    /* border: 2px solid brown; */
    position: relative;
    top: -1220px;
    left: 0px;
    height: 600px;
    width: 600px;

}

.design2 .design2-text{
    display: flex;
    flex-direction: column;
    /* border: 2px solid black; */
    gap: 20px;
    width: 500px;
    color: white;
    justify-content: center;
    position: relative;
    left: -15px;

}

/* .design2 .circle-container {
    overflow: hidden;
    /* Other styles for the container (optional) */
/* } */ 


/* design3 css  */

.design3{
    display: flex;
    flex-direction: row;
    /* margin-top: 20px; */
    justify-content: space-around;
    height: 600px;
}

.design3 .design3-image{
    display: flex;
    width: 700px;
    height: 700px;
    margin-top: 20px;

}
.design3 .design3-image img{
    display: flex;
    width: 700px;
    height: 500px;
    position: relative;
    left: -275px;
    top: 40px;
}

.design3 .design3-text{
    font-family: overpass;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 2px solid black; */
    /* margin-top: 20px; */
    width: 500px;
    position: relative;
    left: -180px;
    top: 20px;
    gap: 30px;
    word-spacing: 2px;
    color: hsl(208, 49%, 24%)
}

.design3-text1{
    font-family: overpass;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-justify: unset;
    word-spacing: 3px;
}
.design3-text2{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


/* Footer menu  */
.container{
    max-width: 1170px;
    /* background-color: red; */
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

ul{
    list-style: none;
}

.footer{
    background-color: rgb(36, 36, 47);
    padding: 70px 0;
    border-top-right-radius: 80px;
}

.footer-col{
    width: 20%;
    padding: 0 15px;
}

.footer-col h1{
    font-size: 3vw;
    color: white;
}

.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 35px;
    width: 35px;
    background-color: rgba(255,255,255,0.2);
    margin: 0 6px 6px 0;
    text-align: center;
    line-height: 35px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}